#facebook-album {
  margin: 0 auto;
  text-align: center;
}
.album-thumb, 
.photo-thumb {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #cccccc;
  display: inline-block;
  outline: medium none;
  padding: 4px;
  position: relative;
  vertical-align: bottom;
}
.album-thumb {
  margin-bottom: 10px;
}
.album-thumb i, 
.photo-thumb i {
  background: #eee center no-repeat;
  display: block;
  background-size: cover;
}

.fb-album-photo-container,
.fb-album-cover-container {
  width: 100%;
  margin-bottom: 1em;
}

.album-wrapper,
.photo-wrapper {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}

.album-text .fb-link {
  font-size: 1.885em;
  font-weight: 300;
  line-height: 1em;
  margin: 0;
  padding: 0 0 4px;
  cursor: pointer;
  text-decoration: none;
}
.fb-album-footer {
  color: #808080;
  font-weight: bold;
  font-size: 10px;
}

#fb-album-header {
  font-size: 14px;
}

#fb-album-header p {
  color: #333;
  font-size: 14px;
}
.fb-link {
  cursor: pointer;
}

.fb-loading-icon {
  margin-top: 16px;
  text-align: center;
}


/*
 * Credit to tobiasahlin.com/spinkit
 */

.spinner {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  margin: 0 auto;
}

.spinner > div {
  background-color: #ccc;
  height: 100%;
  width: 7px;
  margin: 0 3px 0 0;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}
